body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/grass.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

.white-bg {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0, 0.8);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}


.image-div img {
  width: 350px;
  height: auto;
  border: 5px dashed red;

}

.title {
  font-size: 30px;
  color: darkmagenta;
  text-shadow: 1px 1px 3px yellow;
}
