body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/lue;
}

a {
  color: #00B7FF;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

