body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/grass.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.outer-wrapper {
  background-color: white;
  margin: 50px auto;
  max-width: 900px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  padding: 40px;
}

.white-bg {
  background-color: white;
  font-size: 10px;

}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  padding: 60px;
}

.image-div {
  position: relative;
}
.image-div img {
  border: 5px dashed red;
}

.title {
  font-size: 30px;
  color: darkmagenta;
  text-shadow: 1px 1px 3px yellow;
}

.image-div button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255,255,255,0.2);
  border: 1px solid #ccc;
  color: lime;
  font-size: 12px;
  font-weight: bold;
  padding: 6px;
}

button {
  position: absolute;
  bottom: 5%;
  left: 2%;
  background-color: transparent;
  border: none;
  color: #c4f0c5;
  font-size: 12px;
  cursor: crosshair;
  text-shadow: 1px 1px 1px lime;
}