.login-container {
    max-width: 600px;
    margin: 5px auto;
    padding: 30px;

}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    width: 30%;
    padding: 12px;
    background-color: rgb(13, 110, 253);
    color: white;
    border: none;
}